<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abastecer Ingredientes</title>
</head>
<body>
    <h1>Abastecer Ingredientes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Inventario Actual</th>
                <th>Abastecer</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.inventario }}</td>
                <td>
                    <form method="GET" action="/abastecer">
                        <input type="hidden" name="ingrediente_id" value="{{ ingrediente.ingredienteID }}">
                        <input type="number" name="cantidad" min="1" required>
                        <button type="submit">Actualizar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>🍧 PRODUCTOS 🍧</h1>

    <h2>📌 Navegación</h2>
    <p><a href="/auth/profile">Datos del Usuario</a></p>
    <p><a href="/dashboard">🚀 Index</a></p>
    <p><a href="/vender">🤗 Vender</a></p> 
    <p><a href="/productos">📑 Ver lista de productos</a></p>
    <p><a href="/ingredientes">📝 Ver lista de ingredientes</a></p>
    <p><a href="/abastecer">🛒 Abastecer ingredeintes</a></p>
    <p><a href="/dashboard_admin"> Admin</a></p>
    <p><a href="/logout">Cerrar sesión</a></p>
    
</body>
</html>
